*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  background-color: #FFFFFF;
}

.nav-side {
  background-color: #4A4E69;
  color: #FFFFFF;
  grid-row: 1 / 4;
  padding: 0 2rem;
  font-family: Verdana;
  font-size: 1.1rem;
}


/* .first-nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.first-nav-section a {
  padding-left: 1.1rem;
 
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li > img {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.main {
  /* background-color: #FBFBFF; */
  background-color:rgb(92, 61, 91);
}