*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 140px minmax(100px, 1fr);
}

.header {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 1fr;
  height: 130px;
  box-shadow: 3px 3px 5px 1px #00000038;
}

.search-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-wrapper {
  display: inline-flex;
  align-items: center;
}

.search-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

#search {
  border-radius: 20px;
  border: none;
  background-color:rgba(208, 198, 198, 0.59);
  height: 1.6rem;
  width: 500px;
}

label {
  display: flex;
  align-items: center;
}

.greet-icons {
  display: inline-flex;
  gap: 22px;
  align-items: center;
}

.login-bell {
  width: 9%;
  height: auto;
}

.login-user-icon {
  width: 80%;
  height: auto;
}

.login-user-img-span {
  display: flex;
  justify-content: center;
}

.greet-user-icon {
  display: flex;
  align-items: center;
}

.greet-user-info-div {
  display: grid;
  align-items: center;
  align-content: center;
}

.greet-logo-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
  padding-bottom: 0.8rem;
}

 .greet-div {
  display: inline-flex;
  gap: 10px;
  padding-right: 120px;
 }

.hi-there {
  font-size: 0.7rem;
}

.user-name {
  font-size: 1.1rem;
}

.buttons {
  display: inline-flex;
  gap: 20px;
}

.greet-btn {
  padding: 0.4rem 1.1rem;
  border-radius: 20px;
  border: 0;
  background-color: #FFCC00;
}


.dashboard-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.3rem;
}

.nav-side {
  background-color: #4A4E69;
  color: #FFFFFF;
  grid-row: 1 / 4;
  padding: 0 2rem;
  font-size: 1.1rem;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr;
}

.nav-icons {
  display: grid;
  grid-template-columns: 24px;
  justify-items: start;
  gap: 1.5rem;
  align-items: center;
}

.first-nav-section, .second-nav-section {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.first-nav-section a, .second-nav-section a {
  padding-left: 1.1rem;
}

.nav-wrapper {
  margin-top: 2rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li > img {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.main {
  background-color: #FBFBFF;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.8rem;
  padding: 0.5rem 0.5rem 3rem 1.5rem;
}

.project-card {
  background-color: #FFFFFF;
  border-left: 6px solid #FF3B30;
  box-shadow: 3px 4px 5px 1px #00000038;
  border-radius: 10px;
  padding: 0.6rem 2rem;
}

.project-card p {
 margin-top: 0;
 color:rgba(0, 0, 0, 0.55);
 font-size: 0.8rem;
}

.proj-card-icons-span {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

h4 {
  padding: 0 0 0 1.5rem;
  margin-bottom: 0;
}

.project-card h4 {
  padding: 0;
  margin-bottom: 6px;
  font-size: 0.8rem;
}

.proj-card-inner-div {
  height: 110px;
}

.project-card img {
  width: 80%;
  height: auto;
}

.trend-container h4 {
  padding: 0 0 0.5rem 0;
}

.inner-ann-trend-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 295px 200px;
  gap: 1rem;
  padding: 0.5rem 1.5rem 3rem;
}

.inner-ann-trend-wrapper p {
  margin-top: 0;
  color:rgba(0, 0, 0, 0.55);
  font-size: 0.6rem;
}

.ann-trend-container h4 {
  margin-bottom: 0;
}

.ann-trend-container {
  padding: 0 0 2rem 0;
}

.ann-wrapper p:nth-of-type(1), 
.ann-wrapper p:nth-of-type(2) {
  padding-bottom: 15px;
  border-bottom: 1px solid #0000004d;
}

h5 {
  margin-bottom: 6px;
  font-size: 0.7rem;
}

.ann-wrapper {
  border: 1px solid orange;
  padding: 0.6rem 2rem 1.6rem;
}

.trend-wrapper {
  display: grid;
  grid-template-columns: 3rem 1fr;
  border: 1px solid orange;
  padding: 0rem 2rem;
}

.ann-wrapper, .trend-wrapper {
  background-color: #FFFFFF;
  box-shadow: 3px 4px 5px 1px #00000038;
  border-radius: 10px;
}

.trending-ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.9rem;
  padding-left: 0.5rem;
}

.trend-div {
  display: grid;
}

.handle-span {
  font-size: 0.7rem;
}

.desc-span {
  color:rgba(0, 0, 0, 0.55);
  font-size: 0.7rem;
}

.trend-icons {
  display: grid;
  grid-template-columns: 1rem;
  gap: 14px;
}

.trend-icons img {
  width: 2.5rem;
  height: auto; 
}


@media(min-width: 1394px) {
  .ann-wrapper {
    padding: 1.5rem 2rem 1.6rem;
  }
}

@media (max-width: 1198px) {
  .search-login-wrapper {
    justify-content: center;
    gap: 3rem;
  }

  .greet-logo-buttons-wrapper {
    gap: 30px;
    padding-bottom: 1.1rem;
    justify-content: center;
  }

  .greet-btn {
    padding: 0.3rem 0.7rem;
    font-size: 0.7rem;
  }

  .greet-icons {
    gap: 2px;
    align-self: center;
  }

  .greet-user-icon img {
    width: 100%;
  }

  .hi-there {
    font-size: 0.5rem;
  }

  .user-name {
    font-size: 0.6rem;
  }

  .greet-div {
    /* gap: 10px; */
    padding-right: 0;
  }

  #search {
    width: 177px;
  }
  
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .projects-container {
    order: 1; 
    padding: 0.5rem 1.5rem 3rem 1.5rem;
  }

  .ann-trend-container {
    order: 2; 
  }
}

@media (max-width: 676px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  .search-login-wrapper {
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .greet-div {
    display: none;
  }

  .greet-logo-buttons-wrapper {
    justify-content: center;
    padding-top: 12px;
  }
  
}

@media (max-width: 546px) {
  .ann-wrapper {
    padding: 0.4rem 0.9rem 1.6rem;
  }
}



