*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: #FFFFFF;
}

.dashboard-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.3rem;
}

.nav-side {
  background-color: #4A4E69;
  color: #FFFFFF;
  grid-row: 1 / 4;
  padding: 0 2rem;
  font-size: 1.1rem;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr;
}

.nav-icons {
  display: grid;
  grid-template-columns: 24px;
  justify-items: start;
  gap: 1.5rem;
  align-items: center;
}

.first-nav-section, .second-nav-section {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.first-nav-section a, .second-nav-section a {
  padding-left: 1.1rem;
}

.nav-wrapper {
  margin-top: 2rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li > img {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.main {
  background-color: #FBFBFF;
  /* background-color:rgb(92, 61, 91); */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 12.3rem);
  gap: 1.8rem;
  padding: 0.5rem 1.5rem 3rem;
}

.project-card {
  background-color: #FFFFFF;
  border-left: 6px solid #FF3B30;
  box-shadow: 3px 4px 5px 1px #00000038;
  border-radius: 10px;
  padding: 0.6rem 2rem;
}

.project-card p {
 margin-top: 0;
 color: #000000b3;
 font-size: 0.8rem;
}

.proj-card-icons-span {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

h4 {
  padding: 0 0 0 1.5rem;
  margin-bottom: 0;
}

.project-card h4 {
  padding: 0;
  margin-bottom: 6px;
  font-size: 0.8rem;
}

.proj-card-inner-div {
  height: 110px;
}

.project-card img {
  width: 80%;
  height: auto;
}

.trend-container h4 {
  padding: 0 0 0.5rem 0;
}

.inner-ann-trend-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 0.5rem 1.5rem 3rem;
}

.inner-ann-trend-wrapper p {
  margin-top: 0;
  color: #000000b3;
  font-size: 0.6rem;
}

.ann-trend-container h4 {
  margin-bottom: 0;
}

.ann-trend-container {
  padding: 0 2rem 2rem 0;
}

.ann-wrapper p {
  padding-bottom: 15px;
  border-bottom: 1px solid #0000004d;
}

h5 {
  margin-bottom: 6px;
  font-size: 0.7rem;
}

.ann-wrapper {
  border: 1px solid orange;
  padding: 0.6rem 2rem 1.6rem;
}

.trend-wrapper {
  display: grid;
  grid-template-columns: 3rem 1fr;
  border: 1px solid orange;
  padding: 0.6rem 2rem;
}

.ann-wrapper, .trend-wrapper {
  background-color: #FFFFFF;
  box-shadow: 3px 4px 5px 1px #00000038;
  border-radius: 10px;
}

.trending-ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.6rem;
  padding-left: 1rem;
}

.trend-div {
  display: grid;
}

.handle-span {
  font-size: 0.6rem;
}

.desc-span {
  color: #000000b3;
  font-size: 0.6rem;
}

.trend-icons {
  display: grid;
  grid-template-columns: 1rem;
  gap: 20px;
}
